
<div class="container">

<h1>Listas de Tarefas</h1>


<ul>
  <% @todo_lists.each do |todo_list| %>
    <li>
      <span class="todo-title"><%= link_to todo_list.title, todo_list %></span>
      <span class="todo-actions">
        <%= link_to 'Apagar', todo_list, class: 'rightli', data: { 
          turbo_method: :delete, 
          turbo_confirm: 'Tem certeza?' 
        } %>
        <%= link_to 'Editar', edit_todo_list_path(todo_list), class: 'rightli edit' %> 
      </span>
    </li>
  <% end %>
</ul>

  <div style="text-align: right; margin-top: 30px;">
    <%= link_to 'Nova Lista', new_todo_list_path, class: 'btn btn-criar' %>
  </div>

</div>