<h1>Listas de Tarefas</h1>

<%= link_to 'Nova Lista', new_todo_list_path %>

<ul>
  <% @todo_lists.each do |todo_list| %>
    <li>
      <%= link_to todo_list.title, todo_list %> |
      <%= link_to 'Editar', edit_todo_list_path(todo_list) %> |
      <%= link_to 'Destroy', todo_list, data: { 
        turbo_method: :delete, 
        turbo_confirm: 'Are you sure?' 
      } %>
    </li>
  <% end %>
</ul>
