<% @todo_list.todo_items.each do |item| %>
    <li>
      <%= item.content %>
      <% if item.done %>
        <strong>(Feito)</strong>
      <% else %>
        <em>(Pendente)</em>
      <% end %>
      |
      <%= link_to (item.done ? 'Marcar como não feito' : 'Marcar como feito'), toggle_done_todo_list_todo_item_path(@todo_list, item),data: { turbo_method: :patch } %>
      <%= link_to 'Editar', edit_todo_list_todo_item_path(@todo_list, item) %> |
      <%= link_to 'Excluir', todo_list_todo_item_path(@todo_list, item), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza?' } %>
    </li>
  <% end %>
  